{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <div class="main-content">
    <section class="hero is-medium is-hero-bar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="title">
            Starter Template
          </p>
          <p class="sub-title">
            A modern responsive front-end framework based on Bulma
          </p>
        </div>
      </div>
      <div class="hero-foot">
        <div class="container has-text-centered">
          <a class="button is-medium is-primary" href="#">GET STARTED</a>
        </div
      </div>
    </section>
    <section class="section is-main-section">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="card tile is-child">
            <div class="card-content has-text-centered">
              <div class="is-widget-icon">
                <span class="icon has-text-primary is-large">
                  <i class="mdi mdi-flash mdi-48px"></i>
                </span>
              </div>
              <div class="is-widget-label">
                <h2 class="subtitle is-spaced">
                  Speeds up development
                </h2>
                <p class="has-text-justified">
                  We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child">
            <div class="card-content has-text-centered">
              <div class="is-widget-icon">
                <span class="icon has-text-primary is-large">
                  <i class="mdi mdi-account-multiple mdi-48px"></i>
                </span>
              </div>
              <div class="is-widget-label">
                <h2 class="subtitle is-spaced has-text-centered">
                  User Experience Focused
                </h2>
                <p>
                  By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tile is-parent">
          <div class="card tile is-child">
            <div class="card-content has-text-centered">
              <div class="is-widget-icon">
                <span class="icon has-text-primary is-large">
                  <i class="mdi mdi-settings mdi-48px"></i>
                </span>
              </div>
              <div class="is-widget-label">
                <h2 class="subtitle is-spaced">
                  Easy to work with
                </h2>
                <p>
                  We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
