<!-- templates/base.html -->
<!DOCTYPE html>
<html class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "Hagenbund" }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
   <div id="app">
    <!-- Navbar -->
      {% if not hide_navbar %}
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
          <div class = "navbar-brand">
          </div>
          <div id = "navbarApplication" class = "navbar-menu">
            <div class = "navbar-start">
             </div>
              
             <div class = "navbar-end">
               <div class = "navbar-item">
                  <div class = "buttons">
                     {% if current_user.is_anonymous %}
                     <a class="button is-light" href="{{ url_for('auth.login') }}">
                       Log in
                     </a>
                     {% else %}
                     <a class="button is-dark" href="{{ url_for('auth.logout') }}">
                       Log out
                     </a>
                     {% endif %}
                  </div>
               </div>
            </div>
         </div>
      </nav>
    {% endif %}
    <!-- Notification -->
    <div id="notification-container" style="position: fixed; top: 20px; right: 20px; z-index: 9999; width: 300px;">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="notification">
            <button class="delete"></button>
            {{ message }}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <!-- Main Content -->
    {% block content %}{% endblock %}
    <!-- Footer -->
    <footer class="footer">
    </footer>
  </div>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
