{% extends "base.html" %}

{% block content %}
  <!-- Main Content -->
  <div class="main-content">
    <section class="hero is-hero-bar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <div class="grid">
            <div class="cell">
            </div>
            <div class="cell">
              <div class="block">
                <h1 class="title">
                  Hey {{ name }}, how are your 2026 predictions going?
                </h1>
              </div>
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section is-main-section">
      <div class="fixed-grid has-1-cols">
        <div class="grid">
          <div class="cell">
            <div class="card">
              <div class="card-content has-text-centered">
                <div class="is-widget-icon">
                  <span class="icon has-text-primary is-large">
                    <span class="material-symbols-outlined" style="font-size: 48px;">
                      globe
                    </span>
                  </span>
                </div>
                <div class="is-widget-label">
                  <h2 class="subtitle is-spaced">Prediction Leaderboard</h2>
                  {% for gentleboy in predictions %}
                    <div id="prediction-{{ gentleboy.id }}" class="card">
                      <div class="columns">
                        <div class="column is-two-fifths">
                          <p>{{ gentleboy.user_name }}</p>
                        </div>
                        <div class="column is-two-fifths">
                          <p>{{ gentleboy.total_achieved_points }} / {{ gentleboy.total_prediction_points }}</p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="cell">
            <div class="card">
              <div class="card-content has-text-centered">
                <div class="is-widget-icon">
                  <span class="icon has-text-primary is-large">
                    <span class="material-symbols-outlined" style="font-size: 48px;">
                      trending_down
                    </span>
                  </span>
                </div>

                <div class="is-widget-label">
                  <h2 class="subtitle is-spaced">Investment Leaderboard</h2>
                  {% for gentleboy in investments %}
                    <div id="investment-{{ gentleboy.id }}" class="card">
                      <div class="columns">
                        <div class="column is-two-fifths">
                          <p>{{ gentleboy.user_name }}</p>
                        </div>
                        <div class="column is-two-fifths">
                          <p>€ {{ gentleboy.total_investment }}</p>
                        </div>
			{% if gentleboy.total_investment < 5000 %}
                        <div class="column is-one-fifths" style="color: red;">
                          <p>{{ (((gentleboy.total_investment / 5000) -1 ) * 100) | round(2) }}%</p>
                        </div>
			{% else %}
                        <div class="column is-one-fifths" style="color: green;">
                          <p>{{ (((gentleboy.total_investment / 5000) -1 ) * 100) | round(2) }}%</p>
                        </div>
			{% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
