{% extends "base.html" %}
{% block content %}
  <!-- Main Content -->
  <div class="main-content">
    <progress id="timer_bar" class="progress is-primary reading-tracher-fixed" value="0" max="30"></progress>
    <section class="hero is-small is-hero-bar">
      <div class="hero-body">
        <div class="container has-text-centered">
          <p class="sub-title">Remaining time: <span id="timer_count">X</span></p>
          <p class="sub-title">Current round: <span id="round_count">X</span> / <span id="total_rounds">X</span></p>
          <p class="sub-title">Players online:</p>
          <ul id="player-list">
          </ul>
        </div>
      </div>
      {% if user.is_admin %}
        <div class="hero-foot">
          <div class="container has-text-centered">
            <div class="columns is-mobile">
              <div class="column is one-fifths">
              </div>
              <div class="column">
                <div class="field has-addons" style="align-items: center;">
                  <div class="control" style="flex-grow: 1; background: white;">
                    <input id="roundLengthInput" class="input is-primary" type="number" placeholder="Length in ms"/>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="field has-addons" style="align-items: center;">
                  <div class="control" style="flex-grow: 1; background: white;">
                    <input id="playerAmountInput" class="input is-primary" type="number" placeholder="Amount of players"/>
                  </div>
                </div>
              </div>
              <div class="column is one-fifths">
              </div>
            </div>
            <button id="startStopButton" class="button is-medium is-primary" onclick='toggleActive()'>
              <span class="icon is-large has-text-white">
                <span class="material-symbols-outlined" style="font-size: 48px;">
                  play_arrow
                </span>
              </span>
            </button>
            <button id="timerButton" class="button is-medium is-primary" onclick='toggleTimer()'>
              <span class="icon is-large has-text-white">
                <span class="material-symbols-outlined" style="font-size: 48px;">
                  pause
                </span>
              </span>
            </button>
            <button id="nextButton" class="button is-medium is-primary" onclick='nextRound()'>
              <span class="icon is-large has-text-white">
                <span class="material-symbols-outlined" style="font-size: 48px;">
                  fast_forward
                </span>
              </span>
            </button>
            <button id="previousButton" class="button is-medium is-primary" onclick='previousRound()'>
              <span class="icon is-large has-text-white">
                <span class="material-symbols-outlined" style="font-size: 48px;">
                  fast_rewind
                </span>
              </span>
            </button>
            <button id="saveButton" class="button is-medium is-primary" onclick='saveGame()'>
              <span class="icon is-large has-text-white">
                <span class="material-symbols-outlined" style="font-size: 48px;">
                  save
                </span>
              </span>
            </button>
          </div>
        </div>
      {% endif %}
    </section>
    <section class="section is-main-section">
      <div class="columns is-centered is-mobile">
        <div class="column is-three-fifths-desktop">
          <div class="card">
            <div id="game-card"class="card-content has-text-centered">
              <div class="is-widget-icon">
                <span class="icon has-text-primary is-large">
                  <span id="category-icon" class="material-symbols-outlined" style="font-size: 48px;">
                    hourglass
                  </span>
                </span>
              </div>
              <h2 id="prediction-card-title" class="subtitle is-spaced">
                Waiting for game to start...
              </h2>
              <p id="prediction-author" class="has-text-justified">
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field has-addons" style="align-items: center;">
        <div class="control" style="flex-grow: 1; background: white;">
          <input 
            class="slider is-primary" 
            type="range" 
            step="1" 
            min="1" 
            max="99" 
            value="50" 
            autocomplete="off"
            id="sliderInput" 
            style="width: 100%; display: block; background: white;">
        </div>
        <p class="mr-6"><span id="sliderValue" class="ml-6">50</span>%</p>
        <div class="control">
          <button id="range_button" class="button is-info" disabled onclick="submitVote()">Send</button>
        </div>
      </div>

    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/test.js') }}"></script>
{% endblock %}
